.wrapper{
  position: relative;
}

.text-header{
  position: relative;
  /*top: -500px;
  width: 100%;
  text-align: center;*/
/*background: black;
color: #fff;
height: 50px;
width: 100%;
position: relative;*/
}
