/**
 * @file Site Layout
 * @module site
 * @overview Simple site layout
 * @todo Normalize naming site vs page
 */


.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-main {
  flex: 1;
}

.constrainer {
  max-width: 60em;
  margin: 0 auto;
}
