/**
 * @file Footer
 * @module Footer
 * @overview Standard site footer
 */

.site-footer {
  color: #fff;
  padding: 0.75em 0.5em;
  background-color: darkblue;
  overflow: hidden;
  text-align: center;
}
