/**
 * @file Site Layout
 * @module site
 * @overview Simple site layout
 * @todo Normalize naming site vs page
 */


.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.site-nav {
  border-bottom: 1px solid lightgrey;
  padding: 1em 0.5em;
}

.site-main {
  flex: 1;
}

.constrainer {
  width: 60em;
  margin: 0 auto;
}

.section-hero {
  background: lightgrey;
  padding: 10rem 5rem;
}
