/*
 * Site Nav
 * Define la navegación principal del site.
 */

/*
 * Contenedor para .main-nav & .lang-nav
 */

.site-nav {
  max-width: 100%;
  font-size: 16px;
  border-bottom: 1px solid lightgrey;
}

/* Clase general para todos los links en .site-nav */
.site-nav-link {
   margin: 0 5px;
}

/*
 * Navegación principal. Contiene .site-nav-link & .home-link
*/
.main-nav {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

/* @todo Arreglar esto */
.link-summer_academy,
.link-prep_academy {
  display: none;
}


@media only screen and (min-width: 400px) {
  .main-nav {
    flex-direction: row;
  }
}

.link-home {
  display: flex;
  flex: 1;
}

/* Elemento que contiene los idiomas disponibles */
.lang-nav {
  background: darkblue;
  padding: 0.45em 0;
  text-align: right;

  .site-nav-link {
    color: #fff;
  }
}

