.session-section {
  >div:nth-child(odd) {
    .panel-figure {
      order: 3;
    }
  }

  .section-header {
    margin-bottom: 3em;
  }

  .content-panel {
    max-height: 16rem;
    overflow: hidden;

  }
}
