{% extends "_layout/_simple_site_layout.html" %}

{% from 'example/example.macros.html' import example_item %}

{% set data = example %}

{% block page_content %}
<section>
  <ol>
    {% for item in data %}
      <li class="event-feed-item">
        <article class="event block-item{% if class %} {{ class }}{% endif %} {% if id %}id="{{ item.id }}"{% endif %}>
          <h3 class="event-heading">
            <a href="{{ item.event_url }}">
              {{ item.event }}
            </a>
          </h3>
          <h4 class="event-title">{{ item.title }}</h4>
          <p class="event-date">{{ item.date }}</p>
        </article>
      </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}
