.donate-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.donate-content {
  flex-direction: column;
  max-width: 20em;
  margin-left: 10px;
}

.icon-block {
  height: 65px;
  width: 65px;
}

@media only screen and (min-width: 720px) {
  .donate-block {
    flex-direction: row;
  }
  .button-right {
    margin-left: auto;
  }
}

