{% extends "layout/_base_layout.html" %}

{% set meta_noindex = true %}

{% block body_content %}
<nav class="site-nav">
  <div class="lang-nav">
    {% for locale in locales %}
      <a class="site-nav-link" href="/{{ locale }}">
        {{ locale | upper }}
      </a>
    {% endfor %}
  </div>
  <div class="main-nav">
      {% for route in routes %}
        {% set home = "home" %}
        <a
          class="site-nav-link {% if route.view == home %}home-link{% endif %}"
          href="/{{ i18n.lang }}{{ route.path }}">
          {{ route.name }}
        </a>
      {% endfor %}
  </div>
</nav>
<main role="main"  class="site-main">

  {% if data.hero %}
  <header class="section-hero">
    <div class="hero-text">
      <h1 class="hero-headline">{{ data.hero.headline }}</h1>
      {% if data.hero.byline %}
        <p class="hero-byline">{{ data.hero.byline }}</p>
      {% endif %}
    </div>
    {% if data.hero.image %}
      <div class="hero-image">
        <img src="{{ data.hero.image }}" alt="{{ data.hero.image_alt }}">
      </div>
    {% endif %}
  </header>
  {% endif %}

  {% block page_content %}
  {% endblock %}
</main>

<footer class="site-footer">
  <p>&copy; COSOLA MACILE</p>
</footer>

{% endblock %}
