{% extends "layout/_base_layout.html" %}

{% set meta_noindex = true %}

{% block body_content %}
<nav class="site-nav">
  <div class="nav-wrapper container-wrapper">
      <a class="site-nav-link home-link" href="/en/en/site-nav.css">Home</a>
      <a class="site-nav-link" href="/en/en/site-nav.css">Programs</a>
      <a class="site-nav-link" href="/en/en/site-nav.css">Scholarships</a>
      <a class="site-nav-link" href="/en/en/site-nav.css">News</a>
      <a class="site-nav-link" href="/en/en/site-nav.css">Donate</a>
  </div>
</nav>
<main role="main"  class="site-main">
  <header class="header" class="section-hero">
    <div class="wrapper">
    <div class="imagen">
       <img src="/assets/img/header-foto.jpg">
    </div>
    <div class="text-header">
         <h1>MACILE</h1>
         <p>Summer academy</p>
        </div>
    </div>
  </header>

  {% block page_content %}
  {% endblock %}
</main>

<footer class="site-footer">
  <p>&copy; COSOLA MACILE</p>
</footer>

{% endblock %}
