.content-nav {
  background-color: pink;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
/*  justify-content: flex-end;
*/}

.intern-nav-link {
  margin-left: 20px;
}

.intern-nav-link:nth-child(n+2) {
  color: black;
}
