.intern-nav {
  display: flex;
  justify-content: flex-end;
  overflow: scroll;
  padding: 20px;
}

.intern-nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: pink; /*Es solo por el momento.*/
}

.intern-nav-link {
  margin-left: 20px;
}

.intern-nav-link:first-child {
  margin-right: auto;
}

@media only screen and (min-width: 630px) {
  .content-nav {
    overflow: hidden;
  }
}
