.teaser-block {
  display: flex;
  width: 50vh;
  flex-direction: column;

}

@media only screen and (min-width: 400px) {
  .teaser-block {
    flex-direction: row;
    width: 90%;
  }
}

@media only screen and (min-width: 645px) {
  .teaser-block {
    flex-direction: row;
    width: 100vh;
  }
}
