{% extends "layout/_simple_site_layout.html" %}

{% from "content_panel/content_panel.macros.html" import content_panel %}

{% from "curriculum/curriculum.macros.html" import curriculum %}

{% set data = summer_academy %}

{% block page_content %}
<section class="curriculum-section">
  <h1>{{ summer_academy.curriculum_section.headline }}</h1>
  <p>{{ summer_academy.curriculum_section.byline}}</p>

  {{ curriculum(summer_academy.curriculum_section.subjects) }}
</section>

{% for year in summer_academy.section_session.years %}
  {{ content_panel(year) }}
{% endfor %}

{% endblock %}
