{% extends "layout/_simple_site_layout.html" %}

{% from "content_panel/content_panel.macros.html" import content_panel %}

{% from "intern_nav/intern_nav.macros.html" import intern_nav %}

{% set data = summer_academy %}

{% block page_content %}
  {{ intern_nav(summer_academy.nav) }}

  <section>
    <header>
      <h1>{{ summer_academy.section_session.headline }}</h1>
      <p>{{ summer_academy.section_session.byline }}</p>
    </header>

    {% for year in summer_academy.section_session.years %}
      {{ content_panel(year) }}
    {% endfor %}
  </section>
{% endblock %}
