.panel-img {
  height: 100%;
}

.content-panel {
  display: flex;
}

.panel-information {
  padding: 30px;
}
.panel-figure {
  flex: 1 0 400px;
  margin: 0;
}

@media only screen and (max-width: 900px) {
  .content-panel {
    flex-direction: column;
  }

  .panel-figure{
    flex: 0 0 auto;
  }
}

